@tailwind base;
@tailwind components;
@tailwind utilities;

.text-secondary {
    color: #0F3141 !important;
}

.text-primary {
    color: #246532 !important;
}

.bg-primary {
    background-color: #246532 !important;
}

.inter {
    font-family: var(--font-inter) !important;
}

.nunito {
    font-family: var(--font-nunito) !important;
}

.poppins {
    font-family: var(--font-poppins) !important;
}

.banner {
    background: url('../../public/assets/fc8401c42aac2193aa4293ac4cb98056\ \(1\).jpg') lightgray 50% / cover no-repeat;
}

.text-secondary {
    color: #0F3141 !important;
}

.login {
    background-image: url('../../public//assets/Untitled.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-row {
    display: grid !important;
    grid-template-rows: 2fr 2fr 1fr !important;
}

.disabled-link {
    pointer-events: none !important;
}

#search::placeholder {
    color: #667085 !important;
    font-family: var(--font-inter) !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.message {
    grid-template-columns: 1fr 2fr !important;
}

.navbar a:focus,
.navbar a:active,
.navbar a:visited {
    outline: none !important;
    background-color: transparent !important;
    color: inherit !important;
}


.dashboard {
    display: grid !important;
    grid-template-columns: 2fr 1fr !important;
}

.box-shadow {
    box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12) !important;
}

.custom-file-input::-webkit-file-upload-button {
    background-color: #246532;
    /* Change to your desired color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.custom-grid {
    display: grid !important;
    grid-template-columns: 1fr 3fr 1fr !important;
    gap: 10px !important;
    align-items: center !important;
}

.subscription {
    background-image: url('../../public/assets/d52f550b3b5989cf96d343f41333a3ab.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.count {
    color: #246532;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.serial {
    color: #0D0D0D;
    -webkit-text-stroke-width: 1.1111111640930176;
    -webkit-text-stroke-color: #C7F2AB;
    font-size: 66.667px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    /* 120% */
    letter-spacing: -1.333px;
}


input:disabled {
    background-color: white !important;
}

.contact {
    background: linear-gradient(281deg, #7F57F1 0%, #C0A9FF 135.48%);
}

.text-services {
    color: #8862F3 !important;
}

.bg-services {
    background-color: #8862F3 !important;
}

* {
    box-sizing: border-box !important;
    /* background-color: white !important; */
}

/* Base styles */
.collapse-title {
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.collapse-content {
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

/* Change background when checkbox is checked */
input[type="checkbox"]:checked~.collapse-title {
    background-color: #F9F9FB;
    border: none !important;
    /* Background color for title when checked */
}

input[type="checkbox"]:checked~.collapse-content {
    background-color: #F9F9FB;
    border: none !important;
    /* Background color for content when checked */
}


@media screen and (max-width: 576px) {
    .dashboard {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
}